/target
/node_modules
/src/wasm/wasp_hls_bg.wasm
/build/*
!/build/README.md
!/build/index.html
!/build/style.css
!/build/logo-white.png
!/build/favicon.png

/tests/testing-lib/simple-test-bundle.js

/localhost.crt
/localhost.key

/tmp
